---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'ACM/ML Ualbany',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Logo ******************* -->
  <div class="flex flex-row justify-center gap-x-4">
    <!-- <Image width={450} src="~/assets/images/ualbany.png" alt="Logo" /> -->
    <Image width={300} src="~/assets/images/logo.png" alt="Logo" />
  </div>

  <!-- Hero Widget ******************* -->
  <Hero image={{ src: '~/assets/images/lab.png', alt: 'Lab' }}>
    <Fragment slot="title">
      <h1
        class="text-5xl py-3 font-extrabold bg-gradient-to-r from-pink-500 via-purple-500 to-blue-500 bg-clip-text text-transparent"
      >
        UNDER CONSTRUCTION
      </h1>
    </Fragment>

    <!-- <Fragment slot="subtitle">
    <p class="text-xl py-5 font-bold text-white">
      The AI in Complex Systems Laboratory, led by Dr. Canbaz, is at the forefront of advancing artificial intelligence within complex systems and networks.
    </p>
  </Fragment> -->

    <!-- <Fragment slot="content">
    <p class="text-md py-5 font-bold text-gray-300">
      Located at ETEC, University at Albany 1200 Washington Avenue Albany, NY 12226
    </p>
  </Fragment> -->
  </Hero>
</Layout>
